body {
  --header-font-color: rgb(128, 162, 137);
  --background-color-1: rgb(204, 153, 0);
  --background-color-2: rgb(229, 223, 218);
}

header {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
}

h1 {
  color: var(--header-font-color);
  background-color: var(--background-color-2);
  /*contain background color around text only*/
  display: inline;
  padding: 1rem;
  border-radius: 5px;
}
.search-btn {
  background-color: var(--background-color-1);
  color: var(--background-color-2);
}

.search-inputs {
  display: inline-flex;
  justify-content: space-between 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--background-color-2);
  text-align: right;
}

.search-inputs h2 {
  text-align: center;
  color: var(--header-font-color);
}

.search-element {
  margin: 1rem;
}

.outer-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*style results list*/
.vehicle-card {
  /*keeps background color around text*/
  display: table;
  background-color: var(--background-color-2);
  padding: 1rem;
  margin: 1rem;
  text-align: left;
}

.vehicle-card h3 {
  color: var(--header-font-color);
}

/*Background covers device's screen and doesn't scroll*/
@media screen {
  body {
    background-image: url(../images/car_background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }
}
